* {
  box-sizing: border-box;
  margin: 0px;
}

header,
footer {
  background-color: rgb(193, 176, 209);
}

main {
  background-color: rgb(215, 202, 228);
  min-height: 100vh;
}

.border {
  /* border: 1px solid black; */
  margin: 5px;
}

.content {
  max-width: 1200px;
  padding: 15px;
  margin: 0px auto;
}

.flex-container {
  display: flex;
}

.cubes {
  width: 70%;
}
.history {
  width: 30%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container__cube {
  background-color: aquamarine;
  width: 180px;
  height: 180px;
  border-radius: 25px;
  display: grid;
  place-items: center;
}

.container__cube-qty {
  margin: 10px;
}
